---
---

@import "{{ site.theme }}";

/* Container holding the image and the text */
.imgrights {
  text-align: right;
  font-size: 85%;
  font: italic;
  position: relative;
  color: #ffdddd;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
