---
---

@import "{{ site.theme }}";

/* Container holding the image and the text */
.imgrights {
  text-align: right;
  font-size: 85%;
  font: italic;
  position: relative;
  color: #ffdddd;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* RU colors: https://www.radboudnet.nl/communicatie/huisstijl/kleur */

a {
  color:#be311a;
}

a:hover, a:focus {
  color:#8f2011;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#e3000b;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#e3000b;
}

/* Analytics notice */

address {
  position: fixed;
  bottom: 0;
  right: 15px;
  left: 15px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-style: solid none none none;
  border-color: #8f2011;
  border-width: 1px;
  background-color: #fff;
}
