---
---

@import "{{ site.theme }}";

/* Container holding the image and the text */
.imgrights {
  text-align: right;
  font-size: 85%;
  font: italic;
  position: relative;
  color: #ffdddd;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* RU colors: https://www.radboudnet.nl/communicatie/huisstijl/kleur */

a {
  color:#be311a;
}

a:hover, a:focus {
  color:#8f2011;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#e3000b;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#e3000b;
}

/* Analytics notice */

address {
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  right: 15px;
  left: 15px;
  border-style: solid none none none;
  border-color: #8f2011;
  border-width: 1px;
}
